<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h4>Score: 
        <span class="score">
            <!-- JS will put scores here dynamically -->
        </span>
    </h4>
    <table class="board">
        <tbody>
          {% for row in board %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <h5>Timer:
        <span class="timer">
            <!-- JS will put scores here dynamically -->
        </span>
    </h5>
    <form class="add-word">
        <label name="guess">Guess word:</label>
        <input name="guess" class="guess" placeholder="Guess a word">
        <button class="guess">Submit</button>
    </form>
    <p class="msg">
        <!-- JS will put messages here dynamically -->
    </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/boggle.js"></script>
    <script> let game = new BoggleGame; </script>
</body>
</html>